<html>
<head>
   <title>Speech to text</title>
</head>
   <body>
      <div class="speaker" style="display: flex;justify-content: space-between;width: 13rem;box-shadow: 0 0 13px #0000003d;border-radius: 5px;">
         <p id="action" style="color: grey;font-weight: 800; padding: 0; padding-left: 2rem;"></p>
         <button onclick="runSpeechRecog()" style="border: transparent;padding: 0 0.5rem;">
            Speech
         </button>
      </div>
      <h3 id="output" class="hide"></h3>
      <script>
        runSpeechRecog = () => {
            document.getElementById("output").innerHTML = "Loading text...";
            var output = document.getElementById('output');
            var action = document.getElementById('action');
            let recognition = new webkitSpeechRecognition() || new SpeechRecognition();
            recognition.lang = 'ja-JP'; // Set the language to Vietnamese
            recognition.interimResults = true; // Enable interim results
        
            recognition.onstart = () => {
                action.innerHTML = "Listening...";
            }
            recognition.onresult = (e) => {
                var transcript = e.results[0][0].transcript;
                if (e.results[0].isFinal) {
                    // Use setTimeout to delay the display of the final result
                    setTimeout(() => {
                        output.innerHTML = transcript;
                        action.innerHTML = "";
                    }, 4000); // Delay in milliseconds (2000ms = 2s)
                } else {
                    // Display interim results immediately
                    output.innerHTML = transcript;
                }
            }
            recognition.start();
        }
        
      </script>
   </body>
</html>
